@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;

}
menu {
    position: absolute;
    background-color: rgb(46, 37, 36);
    text-align: center;
    width: 30vh;
    height: 100vh;
}


.estrutura1 {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    top: 7px;
    width: 100%;
}

.logoImg {
    width: 100%;
    height: 25%;
}

.name {
    font-family: Kanit, Roboto, Helvetica, sans-serif;
    color: #fffafa;
    padding-top: 20px;
    font-size: 185%;
}


.fun {
    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    background: linear-gradient(to right, #ff914d 40%, #fffafa 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 210%
}

.fun2 {
    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    background: linear-gradient(to right, #fffafa 38%, #ff914d 4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 160%;
}

li {
    list-style: none;
}

a {
    color: #fffafa;
    transition: all linear;
    text-decoration: none;
}

a:hover {
    color: #ff914d;
    cursor: pointer;
}

.nav {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding-top: 50px;
    font-family: Kanit, Roboto, Helvetica, sans-serif;
    color: #fffafa;
    font-size: 40px;
    transition: 0.3s;
}
.nav:active{
    color: #ff914d;
}

.borda{
    position: relative;
    left: 75px;
    border-bottom: 8px solid #fffafa;
    border-bottom-style: dashed;
    width: 70px;
}

.social {
    display: inline-block;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 30%;
    top: 200px;
    left: 10px;
}
body {
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    overflow: hidden;
}

.tabcontent{
    position: absolute;
    align-items: center;    
    left: 25%;
    top: 20%;
    animation: fadeEffect 1s;
    width: 50%;

}
.tabcontent .title{
    font-size: 100px;
    font-family: Kanit, Roboto, Helvetica, sans-serif ;
    color: #ff914d;
}
.descricao{
    margin-left: 80px;
    margin-top: 20px;
    font-size: 26px;
    font-family: Montserrat, Roboto, Helvetica, sans-serif ;
    color: #fffafa;
}
.TituloFun{
    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    color: #fffafa;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 1.3rem;
}
.barras{
    color: #ff914d;
    background-color: #ff914d;
    border-radius: 10px;
    margin-left: 80px;
    overflow: hidden;
    margin-top: -18px;
}
.barraPreta{
    color: #ff914d;
    background-color: rgb(46, 37, 36);
    border-radius: 10px;
    margin-left: 80px;
    width: 500px;
    
}
.experiencia{
    background-image: url(img/4.png);
    width: 300px;
    height: 200px;
    position: inherit;
    margin-left: 800px;
}
.jobDescricao{
    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
    font-size: 1.3rem;
    color: #fffafa;
}
.experiencia1{
    margin-top: -260px;
    align-items: center;
}
.experiencia2{
    margin-top: 50px;
    align-items: center;
}
.alinhamento{
    width: 100px;
    padding: 1px;
}
.alinhamentoSocial{
    display: inline;
    margin-left: 300px;
}
.nameRede{
    font-family: Kanit, Roboto, Helvetica, sans-serif;
    color: #fffafa;
    padding-top: 20px;
}

.bar1{width: 1%; animation: barra1 3s ease-in-out  1 both;}
.bar2{width: 1%; animation: barra2 3s ease-in-out  1 both;}
.bar3{width: 1%; animation: barra3 3s ease-in-out  1 both;}
.bar4{width: 1%; animation: barra4 3s ease-in-out  1 both;}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes barra1 {
    0% {width: 1%;}
    100% {width: 45%;}
  }
  @keyframes barra2 {
    0% {width: 1%;}
    100% {width: 30%;}
  }
  @keyframes barra3 {
    0% {width: 1%;}
    100% {width: 40%;}
  }
  @keyframes barra4 {
    0% {width: 1%;}
    100% {width: 25%;}
  }